<html>

<head>
  <style>

  </style>
</head>

<body>
  Olá, <strong>{{ ad.author.name }}.</strong>
  <p>
    Você tem uma nova solicitação de compra para o anúncio: {{ ad.title}}
  </p>
  <br>
  <strong>{{ user.name }} ({{ user.email }}): </strong>
  <p> {{ content }} </p>
</body>

</html>
